<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>Google Sign In</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.960961808553-lnmj4amdub4860h81pt9fopj57r9lai0</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>960961808553-lnmj4amdub4860h81pt9fopj57r9lai0.apps.googleusercontent.com</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>172.127.24.215</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSHealthUpdateUsageDescription
NSHealthUpdateUsageDescription
NSHealthUpdateUsageDescription
NSHealthUpdateUsageDescription</key>
	<string>FitPantry writes your meal and nutrition data to Apple Health.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>We use notifications to keep you informed about important updates and reminders.</string>
</dict>
</plist>
